.list_elem {
    width:1710px;
    height:853px;
    position:absolute;
}
.list_elem_card {
    width:1710px;
    height:853px;
    position:absolute;
    left:0px;
    top:0px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(255, 255, 255, 1);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;

    border:1px solid rgba(0, 0, 0, 1);
}

.pair_card {
      width:1505.8070068359375px;
      height:136.3401641845703px;
      position:absolute;
      left:191.13958740234375px;
      top:17.479507446289062px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(255, 255, 255, 0.5);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;

    border:1px solid rgba(0, 0, 0, 1);


  }
._________________________________ {
    color:rgba(0, 0, 0, 1);
    width:718px;
    height:52px;
    position:absolute;
    left:423.76336669921875px;
    top:20.1014347076416px;
    font-family:Manrope;
    text-align:center;
    font-size:38px;
    letter-spacing:0;
}
.______________________________ {
    color:rgba(0, 0, 0, 1);
    width:510px;
    height:41px;
    position:absolute;
    left:527.5964965820312px;
    top:78.65778350830078px;
    font-family:Manrope;
    text-align:center;
    font-size:30px;
    letter-spacing:0;
}



.time {
    color:rgba(0, 0, 0, 1);
    width:235px;
    height:55px;
    position:absolute;
    left:59.13195037841797px;
    top:44.57274627685547px;
    font-family:Manrope;
    text-align:center;
    font-size:40px;
    letter-spacing:0;
}
.type {
    color:rgba(0, 0, 0, 1);
    width:55px;
    height:55px;
    position:absolute;
    left:1254.859375px;
    top:45.446720123291016px;
    font-family:Manrope;
    text-align:center;
    font-size:40px;
    letter-spacing:0;
}
.cabinet {
    color:rgba(0, 0, 0, 1);
    width:112px;
    height:55px;
    position:absolute;
    left:1339.5714111328125px;
    top:45.446720123291016px;
    font-family:Manrope;
    text-align:center;
    font-size:40px;
    letter-spacing:0;
}
.lesson {
    color:rgba(0, 0, 0, 1);
    width:891px;
    height:52px;
    position:absolute;
    left:331.32171630859375px;
    top:20.1014347076416px;
    font-family:Manrope;
    text-align:center;
    font-size:38px;
    letter-spacing:0;
}
.teacher {
    color:rgba(0, 0, 0, 1);
    width:434px;
    height:41px;
    position:absolute;
    left:558.3653564453125px;
    top:78.65778350830078px;
    font-family:Manrope;
    text-align:center;
    font-size:30px;
    letter-spacing:0;
}


.date {

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 152.9116668701172px;
    height: 272.6803283691406px;
    position: absolute;
    left: 16.782987594604492px;
    top: 17.479507446289062px;
}
.date_text {
    color:rgba(0, 0, 0, 1);
    width:103.4950942993164px;
    height:159.9375px;
    position:absolute;
    left:25.174482345581055px;
    top:56.80840301513672px;
    font-family:Manrope;
    text-align:center;
    font-size:42px;
    letter-spacing:0;
}
