.teacher_fio {
    color:rgba(0, 0, 0, 1);
    width:60%;
    height:41px;
    position:relative;
    left: 42.5%;
    top: 7%;
    font-family:Manrope;
    text-align:center;
    vertical-align: middle;
    font-size:30px;
    font-style: italic;
    letter-spacing:1px;

    hyphens: auto;
}

.teacher_fio_sel {
    color:rgba(0, 0, 0, 1);
    width:50%;
    height:41px;
    position:relative;
    left: 30%;
    top: 0%;
    font-family:Manrope;
    text-align:center;
    vertical-align: middle;
    font-size:30px;
    font-style: italic;
    letter-spacing:1px;
}