.Start {
    width: 616px;
    height: 117px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6000000238418579);
    left: 31%;
    top: 35%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid rgba(10.031780898571014, 218.87500405311584, 68.50787669420242, 1);
    color:rgba(255, 255, 255, 1);
    font-family:Manrope;
    text-align:center;
    font-size:48px;
    letter-spacing:0;
    cursor: pointer;

}

.Exit {
    width:360px;
    height:100px;
    position:absolute;
    left: 40%;
    top: 75%;

    background-color:rgba(0, 0, 0, 0.6000000238418579);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;

    border:2px solid rgba(101.92281246185303, 10.031780898571014, 218.87500405311584, 1);

    color:rgba(255, 255, 255, 1);
    font-family:Manrope;
    text-align:center;
    font-size:45px;
    letter-spacing:0;
    cursor: pointer;
}

.Student {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    width:413px;
    height:117px;
    position:absolute;
    background-color:rgba(0, 0, 0, 0.6000000238418579);
    left:15%;
    top: 35%;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;

    border:2px solid rgba(0, 0, 255, 1);
    color:rgba(255, 255, 255, 1);

    font-family:Manrope;
    text-align:center;
    font-size:48px;
    letter-spacing:0;
    cursor: pointer;

}

.Teacher {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    width:413px;
    height:117px;
    position:absolute;
    left:65%;
    top: 35%;
    background-color:rgba(0, 0, 0, 0.6000000238418579);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;

    border:2px solid rgba(255, 0, 0, 1);

    color:rgba(255, 255, 255, 1);
    font-family:Manrope;
    text-align:center;
    font-size:48px;
    letter-spacing:0;
    cursor: pointer;


}

.Form {
    width: 900px;
    height: 117px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6000000238418579);
    left: 22.5%;
    top: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid rgba(10.031780898571014, 218.87500405311584, 68.50787669420242, 1);
    color:rgba(255, 255, 255, 1);
    font-family:Manrope;
    text-align:center;
    font-size:48px;
    letter-spacing:0;
    cursor: pointer;

}

.Schedule {
    width:360px;
    height:100px;
    position:absolute;
    left: 39%;
    top: 75%;

    background-color:rgba(0, 0, 0, 0.6000000238418579);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;

    border:2px solid rgba(0, 240, 120, 1);

    color:rgba(255, 255, 255, 1);
    font-family:Manrope;
    text-align:center;
    font-size:45px;
    letter-spacing:0;
    cursor: pointer;
}

.Select {
    width: 900px;
    height: 117px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6000000238418579);
    left: 21.5%;
    top: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid rgba(10.031780898571014, 218.87500405311584, 68.50787669420242, 1);
    color:rgba(255, 255, 255, 1);
    font-family:Manrope;
    text-align:center;
    font-size:48px;
    letter-spacing:0;
    cursor: pointer;

}

.Editing {

    width:150px;
    height:150px;
    left:88%;
    top: 80%;
    position:absolute;

    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-image:url(Images/pencil.png);
    background-position:right;
    background-repeat:no-repeat;
    background-size: contain;

    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius:500px;
    background-color:rgba(0, 0, 0, 0.10000000149011612);


    border:2px solid rgba(0, 0, 0, 1);
    cursor: pointer;

}

.Pair_Editing {

    width:40px;
    height:40px;
    left:95%;
    top: 80%;
    position:absolute;

    background-image:url(Images/pencil.png);
    background-position:right;
    background-repeat:no-repeat;
    background-size: contain;

    border-radius:500px;
    background-color:rgba(0, 0, 0, 0.10000000149011612);


    border:2px solid rgba(0, 0, 0, 1);
    cursor: pointer;

}

.Pair_Editing_sel {

    width:40px;
    height:40px;
    left:95%;
    top: 76%;
    position:absolute;

    background-image:url(Images/pencil.png);
    background-position:right;
    background-repeat:no-repeat;
    background-size: contain;

    border-radius:500px;
    background-color:rgba(0, 0, 0, 0.10000000149011612);


    border:2px solid rgba(0, 0, 0, 1);
    cursor: pointer;

}

.Pair_Removal {

    width:35px;
    height:35px;
    left:98.5%;
    top: -8%;
    position:absolute;

    background-image:url(Images/cross.png);
    background-position:right;
    background-repeat:no-repeat;
    background-size: contain;

    border-radius:500px;
   


    border:2px solid rgba(0, 0, 0, 1);
    cursor: pointer;

}


