.calendar {
    width: 300px;
    height: 81px;
    margin-left: 1%;
    left: 10%;
    top: 31%;
    position: absolute;


    color: rgba(255, 255, 255, 1);

}

.para {
    width: 250px;
    height: 81px;
    margin-left: 1%;
    margin-top: 3%;
    left: 32%;
    position: absolute;
    font-family: Manrope;
    text-align: center;
    font-style: italic;
    font-size: 26px;
    letter-spacing: 0;
}

.cabinet_editing {
    width: 250px;
    height: 81px;
    margin-left: 1%;
    margin-top: 0%;
    left: 32%;
    position: absolute;
    font-family: Manrope;
    text-align: center;
    font-size: 26px;
    font-style: italic;
    letter-spacing: 0;
}

.group_list_editing {
    color: rgba(0, 0, 0, 1);
    width: 20%;
    height: 55px;
    position: absolute;
    left: 32.5%;
    margin-top: 12%;
    font-family: Manrope;
    text-align: center;
    vertical-align: middle;
    font-size: 26px;
    font-style: italic;
    letter-spacing: 1px;
    cursor: pointer;
}

.fio_editing {
    color: rgba(0, 0, 0, 1);
    width: 20%;
    height: 55px;
    position: absolute;
    left: 55%;
    margin-top: -2.65%;
    font-family: Manrope;
    text-align: center;
    vertical-align: middle;
    font-size: 26px;
    font-style: italic;
    letter-spacing: 1px;
}

.type_editing {
    color: rgba(0, 0, 0, 1);
    width: 15%;
    height: 50px;
    position: absolute;
    margin-top: -3.5%;
    left: 80%;
    font-family: Manrope;
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
    font-size: 26px;
    cursor: pointer;
}

.subj_editing {
    width: 610px;
    height: 81px;
    margin-left: 1%;
    margin-top: -5.25%;
    left: 54%;
    position: absolute;
    color: rgba(0, 0, 0, 1);
    font-family: Manrope;
    text-align: center;
    font-style: italic;
    font-size: 26px;
}

.Exit_button {
    width: 360px;
    height: 100px;
    position: absolute;
    left: 17.5%;
    top: 80%;

    background-color: rgba(0, 0, 0, 0.6000000238418579);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    border: 2px solid rgba(101.92281246185303, 10.031780898571014, 218.87500405311584, 1);

    color: rgba(255, 255, 255, 1);
    font-family: Manrope;
    text-align: center;
    font-size: 45px;
    letter-spacing: 0;
    cursor: pointer;
}

.Approve_button {
    width: 360px;
    height: 100px;
    position: absolute;
    left: 60%;
    top: 80%;

    background-color: rgba(0, 0, 0, 0.6000000238418579);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    border: 2px solid rgba(101.92281246185303, 10.031780898571014, 218.87500405311584, 1);

    color: rgba(255, 255, 255, 1);
    font-family: Manrope;
    text-align: center;
    font-size: 45px;
    letter-spacing: 0;
    cursor: pointer;
}